<h1>Editando Assunto</h1>

<% form_for @subject do |form| %>
  <%= render :partial => 'form', :locals => {:form => form, :submit_text => "Salvar"} %>
<% end %>

<%= link_to image_tag("/images/cancel.png", :title => "Cancelar") + "Cancelar", back_or(subjects_path) %>
