<h1>Assuntos</h1>

<ul id="subjects">
  <% @subjects.each do |subject| %>
    <li id="<%= subject.id %>">
      <%= subject.title %> <%= link_to "excluir", subject_path(subject.id), :method => "delete", :confirm => "Excluir #{subject.title}?" %>
    </li>
  <% end %>
</ul>