<h1>Novo Assunto</h1>

<% form_for @subject do |form| %>
  <%= render :partial => 'form', :locals => {:form => form, :submit_text => "Criar"} %>
<% end %>

<%= link_to image_tag("/images/cancel.png", :title => "Cancelar") + "Cancelar", subjects_path %>
