<% content_for :title do %>
  <h1>Novo Assunto</h1>
<% end %>

<% content_for :bottom_links do %>
  <%= link_to image_tag("/images/cancel.png", :title => "Cancelar") + "Cancelar", subjects_path %>
<% end %>

<% form_for @subject do |form| %>
  <%= render :partial => 'form', :locals => {:form => form, :submit_text => "Criar"} %>
<% end %>
